.svg-container {
  font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
  background-color: red !important;
}

p {
	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
}
