{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block main %}
<div class="row">
  <div class="login well offset2 span8">
    <form method="post" class="form-horizontal" id="login-box">
      <legend>Login</legend>
      <div class="control-group{% if form.username.errors %} error{% endif%}">
        {{ form.username.label(class="control-label") }}
        <div class="controls">
          {{ form.username }}
          {% for error in form.username.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="control-group{% if form.password.errors %} error{% endif%}">
        {{ form.password.label(class="control-label") }}
        <div class="controls">
          {{ form.password }}
          {% for error in form.password.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn">Log In</button>
      </div>
<!--       <div id="info-tweempact">
        <h3>New in Tweempact?</h3>
        <h4>Learn about it!</h4>
      </div> -->
    </form>
  {% if error %}<p id = login-error class="alert alert-error">{{ error }}</p>{% endif %}  
  </div>
</div>
<div id="info-tweempact">
  <h3>New in Tweempact?</h3>
  <h4 class = get-started> 
      <a class =get-started href="{{ url_for('get_info') }}">GET STARTED!<img src="{{ url_for('static', filename='images/thumbs_up.png') }}" class = thumbs-up> </a>
  </h4>
</div>
{% endblock main %}
