<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" type="text/css/" href="homepage.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
  <!-- {# Link any other .css or .js found in app static folder. #} -->
    <h1><img class = "twitter-bird" src="{{ url_for('static', filename='images/twitter-logo.png') }}" id=tweet-icon>T<img src="{{ url_for('static', filename='images/W2.png') }}" class = W>EEMPACT</h1>
</head>

<body>
    <div class="navbar navbar-static-top">
    <div class="navbar-inner">
    <div class="container">
      {% if current_user.is_authenticated %}
        <div class="login-state row2" style="clear:both">
          <div class = "dropdown column2">
            <button class="dropbtn">Welcome {{ current_user.username }}!</button>
            <div class="dropdown-content">
              <a href = "{{ url_for('logout') }}">Logout<img class = "logout" src="{{ url_for('static', filename='images/logout.png') }}"></a>
            </div>
            <i class="arrow down"></i>
          </div>
          <div class = "column2">
            <p style="float:left;margin:0;margin-left: 120px"> <a class=top-bar href="{{ url_for('prediction_submit') }}">Predict</a></p>
            <p style="float:left;margin:0;margin-left: 120px"> <a class=top-bar href="{{ url_for('historic') }}"> Historical evolution</a></p>
            <p style="float:left;margin:0;margin-left: 120px"> <a class=top-bar href="{{ url_for('get_info') }}">About us</a></p>
          </div>
        </div>
<!--         <p id="current-user" style="float: left;margin: 0;">Welcome {{ current_user.username }}!</p> -->
        </div>
            {% else %}
            <ul class="nav pull-right">
              <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
            {% endif %}

    </div>
   </div>
  </div>
  <div class="content container">
    {% block main %}{% endblock main %}
  </div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>


</html>

<script>