{% extends 'base.html' %}

{% block title %}FAQS{% endblock title %}

{% block main %}
 <div class = "row50">
 	<div class = "column50">
 		<h2>What is T<img src="{{ url_for('static', filename='images/W2.png') }}" class = W2>eempact?</h2>
 		<p style="font-size: 17px;">Tweempact is aimed to those Twitter users <strong>worried</strong> about the impact of a tweet before publishing it. We allow you to anticipate future and maximize your social impact in Twitter!</p>
 		<div>
 			<h3 style="font-weight: bold;font-size: 18px;">Our functionalities:</h3>
 			<div class = "row50p">	
 				<div class="column50p">
 					<img class = "star" src="{{ url_for('static', filename='images/star (1).png') }}" >
 					<p style="font-weight: bold;font-size: 20px;" class="feature">Impact prediction</p>
 					<p class="feature">Anticipate the future!</p>
 				</div>
 				<div class = "column50p">
 					<img class = "graph" src="{{ url_for('static', filename='images/graph.jpg') }}" >
 					<p style="font-weight: bold;font-size: 20px;" class="feature">Historical evoution</p>
 					<p class="feature">of your tweets</p>
 				</div>
 			</div>
 		</div>
 	</div>
 	<div class = "column50">
 		<p>Hi</p>
 	</div>
 	</div>



{% endblock main %}