{% extends 'base.html' %}

{% block title %}FAQS{% endblock title %}

{% block main %}
 <div class = "row50">
 	<div class = "column50">
 		<h2>What is T<img src="{{ url_for('static', filename='images/W2.png') }}" class = W2>eempact?</h2>
 		<p>Tweempact is aimed to those Twitter users <strong>worried</strong> about the impact of a tweet before publishing it. We allow you to anticipate future and maximize your social impact in Twitter!</p>
 		<div>
 			<h3>Our functionalities:</h3>
 			<div>	
 				<p>Impact prediction</p>
 				<p>Historical Evolution</p>
 			</div>
 		</div>
 	</div>
 	<div class = "column50">
 		<p>Hi</p>
 	</div>
 	</div>



{% endblock main %}