{% extends 'base.html' %}

{% from 'prediction/common.html' import edit_field %}

{% block title %}Main Page{% endblock title %}

{% block main %}

<div class = "row50">
	<div class = "column50">
		<div class = "content1">
			<div class = "content1 title">
				<h2 class="about-us">Title 1</h2>
			</div>
		 	<div class="body1 about-us">
		 		<img class = "graph" src="{{ url_for('static', filename='images/RTplot.png') }}" >		
	 			<p class="about-graph"> This is some motherfucking text </p> 
	 			<p class="about-graph"> Your mean {{mean_rt}}</p> 
	 			<p class="about-graph"> Your best tweet {{max_rt}} </p> 
	 			<p class="top tweet"> This is your best tweet mtfkr {{text_rt} </p>
	 		</div>
		 		
		 		
	<div class = "column50">
		<div class = "content1">
			<div class = "content1 title">
				<h2 class="about-us">Title 2</h2>
			</div>
		 	<div class="body1 about-us">
		 		<img class = "graph" src="{{ url_for('static', filename='images/FCplot.png') }}" >		
	 			<p class="about-graph"> This is some motherfucking text </p> 
	 			<p class="about-graph"> Your mean {{mean_fav}}</p> 
	 			<p class="about-graph"> Your best tweet {{max_fav}} </p>
	 			<p class="top tweet"> This is your best tweet mtfkr {{text_fav}} </p>
	 		</div>
       </div>
    </div>
</div>



{% endblock main %}